@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Pacifico&family=Poetsen+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --color-accent: #9DDE8B;
  --color-accent-text: #9DDE8B;

  --color-background: #ffffff;
  /* --color-background: #F8F8F8; */
  --primary-color: #5755FE;
  --secondary-color: #FF71CD;
  --dot-color: #5755FE;
  --branding-background: var(--color-background);
}

/* Dark mode */
.dark {  
  --color-accent: #9DDE8B;
  --color-accent-text: #9DDE8B;
  
  --color-background: #121212;
  --primary-color: #5755FE;
  --secondary-color: lime;
  --dot-color: #eee;
  --branding-background: #eee;
}

html, body {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  font-family: "Rubik";

  height: 100vh;
}

@media screen and (max-width: 600px) {
  html, body {
    padding: 0;
    max-width: max-content;
    width: 100%;
  }
}

html:not([data-scroll='0']) {
  nav {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }
}

a,
.link {
  text-decoration: none;
  color: var(--color-accent);
  cursor: pointer;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-accent-text);
  }
}

.rubik-400
.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.dosis-regular {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
