
section a.arrow {
  --color: #646b8c;
  position: relative;
  text-decoration: none;
  color: var(--color);
  font-family: "Inter", sans-serif;
  padding: 0.2rem 0;
}

section a.arrow {
  &:nth-child(1) {
    --color: #0099FF;
  }
  &:nth-child(2) {
    --color: #00C781;
  }
  &:nth-child(3) {
    --color: #3A59D1;
  }
  &:nth-child(4) {
    --color: #FF8360;
  }
  &:nth-child(5) {
    --color: #FF6347;
  }
  &:nth-child(6) {
    --color: #FF4584;
  }
}

.dark section a.arrow {
  &:nth-child(1) {
    --color: #FFC534;
  }
  &:nth-child(2) {
    --color: #FF8360;
  }
  &:nth-child(3) {
    --color: #FF6347;
  }
  &:nth-child(4) {
    --color: #FF4584;
  }
  &:nth-child(5) {
    --color: #FF4E50;
  }
}

section a.arrow::before {
  --line-width: 115%;
  --line-height: 1px;
  --line-easing: ease;
  --line-transition-duration: 300ms;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--line-width);
  height: var(--line-height);
  transform-origin: right;
  transform: scaleX(0);
  background: var(--color);
  transition: transform var(--line-transition-duration) var(--line-easing);
  z-index: 1;
}
section a.arrow:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
section a.arrow:hover span {
  --deg: -45deg;
}
section a.arrow:hover span::before {
  transform: rotate(var(--deg));
}
section a.arrow:hover span::after {
  transform: translateX(-1px) rotate(var(--deg));
}
section a.arrow span {
  --line-arrow-width: 1px;
  --line-arrow-height: 6px;
  --line-arrow-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
  --line-arrow-transition-duration: 200ms;
  --line-arrow-transition-delay: 240ms;
}
section a.arrow span::before, section a.arrow span::after {
  content: "";
  position: absolute;
  right: -18%;
  bottom: 0px;
  background: var(--color);
  transition: transform var(--line-arrow-transition-duration) var(--line-arrow-easing);
  transition-delay: var(--line-arrow-transition-delay);
  z-index: 2;
}
section a.arrow span::before {
  width: var(--line-arrow-width);
  height: var(--line-arrow-height);
  transform-origin: 0% 100%;
  transform: rotate(-90deg);
}
section a.arrow span::after {
  height: var(--line-arrow-width);
  width: var(--line-arrow-height);
  transform-origin: 100% 0%;
  transform: translateX(-1px) rotate(0deg);
}
